@import '../../../styles/mixin';

.toTop {
    z-index: 99;
    bottom: 10px;
    button {
      background: transparent;
      border: 0;
    }
    img {
      @include desktop-screen {
        width: 48px
      }
    }
  }