@import '../../../styles/colors';
@import '../../../styles/button';
@import '../../../styles/mixin';
 
.footerCard {
  z-index: 2;
  .brand {
    img {
      @include desktop-screen {
        height: 58px
      }

    }
  }

  h4 {
    font-size: 1rem;
    color: $primaryColor;
    @include desktop-screen {
      font-size: 1.25rem;
      margin-bottom: 20px
    }
  }

  h5 {
    font-size: 0.688rem;
    color: $greyColor;
  }
  p {
    font-size: 0.625rem;
    color: $bgColor;
  }
}