@import '../../../styles/colors';
@import '../../../styles/button';
  
.testimonial {
    .card {
        display: flex;
        /* justify-content: center; */
        /* text-align: center; */
        box-shadow: 0px 4px 10px rgba(0, 9, 50, 0.1);
        width: 100%;
        min-height: 180px;
        border-radius: 1.25rem;
    }

    h5 {
        font-size: 1rem;
        color: $greyColor;
        font-weight: 500;
    }

    p {
        font-size: 0.815rem;
        font-weight: 500;
        color: $greyColor;
    }
}
  
  