@import '../../styles/mixin';
@import '../../styles/colors';
@import '../../styles/button';

.detail {
    @include desktop-screen {
        height: 70vh;
    }
    .promo {
        right: 10px;
        top: 10px;
        background-color: $redColor;
        box-shadow: 0px 4px 10px rgba(235, 17, 17, 0.1);
        border-radius: 0.75rem;
        width: auto;
        height: 30px;
        @include tablet-screen {
            height: 35px;
        }
        @include desktop-screen {
            height: 42px;
        }
    }

    .promo p {
        font-size: 0.938rem;
        font-weight: 600;
        color: $whiteColor;
        @include tablet-screen {
            font-size: 1.125rem;
        }
        @include desktop-screen {
            font-size: 1.25rem;
        }
    }

    .price {
        font-size: 1rem; 
        color: #EB1111; 
        text-decoration: line-through; 
    }
    
    h4 {
        color: $greyColor;
        font-size: 1.125rem;
        font-weight: 500;
    }
    
    h5 {
        color: $primaryColor;
        font-size: 1.25rem;
        font-weight: 600;
    }
    
    h6 {
        color: $greyColor;
        font-size: 1rem;
        font-weight: 500;
    }
    .btnCart {
        background-color: $greyColor;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 9, 50, 0.1);
        padding: 0 .5rem;
    }
    
}