@import '../../../styles/mixin';
@import '../../../styles/colors';
@import '../../../styles/button';

.bestSellers {
    h4 {
        font-size: 1rem;
        font-weight: 500;
        @include tablet-screen {
            font-size: 1.5rem;
        }
        @include desktop-screen {
            font-size: 1.8rem;
        }
    }
    
    & div {
        @include scrolling-horizontal;
      
        .cardProduct {
            box-shadow: 0px 4px 10px rgba(0, 9, 50, 0.1);
            width: 95%;
            min-height: 130px;
            border-radius: 1.25rem;
            @include tablet-screen {
                width: 60%;
                min-height: 145px;
                border-radius: 1.5rem;
            }
            @include desktop-screen {
                width: 50%;
                min-height: 145px;
                border-radius: 1.8rem;
            }
        }
        
        a {
            text-decoration: none;
        }
        
        h6 {
            font-size: 0.875rem;
            font-weight: 400;
            color: $primaryColor;
            @include tablet-screen {
                font-size: 0.938rem;
            }
            @include desktop-screen {
                font-size: 1.125rem;
            }
        }
        
        h5 {
            font-size: 0.875rem;
            font-weight: 500;
            color: $primaryColor;
            @include tablet-screen {
                font-size: 1rem;
            }
            @include desktop-screen {
                font-size: 1.25rem;
            }
        }
        
        .promoPrice {
            flex-direction: column;

            h6 {
                text-decoration: line-through;
                color: $redColor;
            }

            h5 {
                font-size: 0.875rem; 
                color: $primaryColor;
                @include tablet-screen {
                    font-size: 1rem;
                }
                @include desktop-screen {
                    font-size: 1.25rem;
                }
            }
        } 
        
        .promo {
            right: 10px;
            top: 10px;
            background-color: $redColor;
            box-shadow: 0px 4px 10px rgba(235, 17, 17, 0.1);
            border-radius: 0.75rem;
            width: auto;
            height: 28px;
            @include tablet-screen {
                height: 30px;
            }
            @include desktop-screen {
                height: 35px;
            }
            
            p {
                font-size: 0.875rem;
                font-weight: 600;
                color: $whiteColor;
                @include tablet-screen {
                    font-size: .938rem;
                }
                @include desktop-screen {
                    font-size: 1.125rem;
                    // margin-top: 3px
                }
            }
        }
                
        img {
            width: 100%;
            height: auto;
        }       
    }
}