@import '../../../styles/mixin';
@import '../../../styles/button';

.brand {
  & img {
    width: auto;
    height: 2rem;

    @include tablet-screen {
      width: auto;
      height: 2.5rem;
    }
  }
}

.icon {
  @include tablet-screen {
    width: 42px;
    height: auto;
  }
}

.dropdown-menu {
  margin-top: 30px;
  background-color: var(--bgColor);
}

// a {
//   font-size: 1.125rem;
//   font-weight: 500;
// }