@import '../../../styles/mixin';
@import '../../../styles/colors';
@import '../../../styles/button';

.nav {
  width: 100%;
  padding-right: 50px;

  .brand {
    & img {
      width: auto;
      height: 32px;
    }
    @include desktop-screen {
      width: auto;
      height: 42px;
    }
  }
  
  ul {
    display: flex;
    li {
      list-style: none;
      a {
        color: $primaryColor;
        &:hover { 
          text-decoration: underline;
        }
      }
      // &:hover > ul{
      //   display: block;
      // }
      
      ul {
        display: none;
        color: $primaryColor;
        margin-top: 1.5rem !important;
        &::before, &::after {
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $whiteColor;
          top: -10px;
          content: '';
          left: 30%;
          margin-left: -10px;
          position: absolute;
        }
        &::before {
          border-left: 11px solid transparent;
          border-right: 11px solid transparent;
          border-bottom: 11px solid;
          border-bottom-color: inherit; /* Can't be included in the shorthand to work */
          top: -11px;
          margin-left: -11px;
      }
  
      @include tablet-screen {
        width: auto;
        height: 2.5rem;
      }
    }
  }
}
   
}