@import '../../../styles/mixin';
@import '../../../styles/colors';
@import '../../../styles/button';

.brand {
  & img {
    width: auto;
    height: 2rem;

    @include tablet-screen {
      width: auto;
      height: 42px;
    }
    @include desktop-screen {
      width: auto;
      height: 42px;
    }
  }
}

.icon {
  @include tablet-screen {
    img {
      height: 42px;
      width: auto;
    }
  }
  @include desktop-screen {
    img {
      height: 42px;
      width: auto;
    }
  }
}

.nav {
  background-color: $bgColor;
  width: 100%;
  padding-right: 50px;
  ul {
    display: flex;
    margin-bottom: 5px;
    li {
      list-style: none;
      a {
        color: $primaryColor;
        &:hover { 
          text-decoration: underline;
        }
      }
      &:hover > ul{
        display: block;
      }
      
      ul {
        display: none;
        background-color: $bgColor;
        color: $primaryColor;
        margin-top: 4px !important;

        &:after{
          content:''; /* Required to display content */
          position: absolute; /* Sets the position absolute to the top div */
          top: 0;
          left: 30%;/* position the little arrow */
          margin-left: -10px;
          margin-top:-10px; /* Set margin equal to border px */
          width: 0;
          z-index:1;
          height: 0;
          border-bottom: solid 10px $greyColor; /* Creates the arrow pointing up, to change to a notch instead user border-top */
          border-left: solid 10px transparent; /* Creates triangle effect */
          border-right: solid 10px transparent; /* Creates triangle effect */
      }
      }
      
    }
  }
}