@import '../../../styles/mixin';
@import '../../../styles/colors';
@import '../../../styles/button';
@import '../../../styles/font';

.newArrivals {
    h4 {
        font-size: 1rem;
        font-weight: $medium;
        color: $primaryColor;

        @include tablet-screen {
            font-size: 1.5rem;
        }
        @include desktop-screen {
            font-size: 1.8rem;
        }
    }

    h6 {
        a {
            font-size: 0.875rem;
            font-weight: 500;
            color: $greyColor;
            text-decoration: underline !important
        }
    }

    div {
        @include scrolling-horizontal;

        .cardProduct {
            margin-right: 10px;
            text-align: center;
            box-shadow: 0px 4px 10px rgba(0, 9, 50, 0.1);
            width: 55%;
            border-radius: 1.25rem;
            .cardImage {
                height: 150px;
            }
            
            @include tablet-screen {
                width: 30%;
                border-radius: 1.5rem;
            }
            
            & a {
                text-decoration: none;
            }
            
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                -webkit-filter: drop-shadow(0px 4px 5px rgba(0, 9, 50, 0.3));
                filter: drop-shadow(0px 4px 5px rgba(0, 9, 50, 0.3));
            }
        }
    }

    
            h6 {
                font-size: 0.813rem;
                font-weight: 400;
                color: $primaryColor;
        
                @include tablet-screen {
                    font-size: 0.875rem;
                    font-weight: 400;
                }
                @include desktop-screen {
                    font-size: 0.938rem;
                    font-weight: 400;
                }
            }
            
            h5 {
                font-size: 0.875rem;
                font-weight: 500;
                color: $primaryColor;
                @include tablet-screen {
                    font-size: 0.938rem;
                }
                @include desktop-screen {
                    font-size: 1rem;
                }
            }
        }