@import '../../../styles/mixin';

.feature {
    .card {
        border-radius: 1.25rem;
        box-shadow: 0px 4px 10px rgba(0, 9, 50, 0.1);
      }
      
    h6 {
        white-space: nowrap;
        font-size: 0.875rem;
        font-weight: 500;
        @include desktop-screen {
            font-size: 1.125rem
        }
    }
        
    @include tablet-screen {
        img {
        height: 42px;
        width: auto;
        }
    }
    @include desktop-screen {
        img {
        height: 58px;
        width: auto;
        }
    }
}