@mixin btn {
    display: inline-block;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 0;
}

@mixin btn-banner-sm {
    @include btn;
    font-size: .875rem;
    font-weight: $semi-bold;
    padding: .2rem .75rem;
    border-radius: .5rem;
}

@mixin btn-banner-md {
    @include btn;
    font-size: 1.25rem;
    font-weight: $semi-bold;
    padding: .5rem 2.5rem;
}