@import '../styles/font';
@import '../styles/colors';
@import './mixin';

.payment {
    padding: 16px;
    @include desktop-screen {
        width: 50%;
        margin: auto;
    }
    @include large-screen {
        width: 35%;
    }
    .paymentDetail {
        min-height: 75vh;
        @include large-screen {
            min-height: 70vh;
        }
    }

    h6 {
        font-size: .75rem;
        font-weight: $medium;
        color: $greyColor
    }
    
    span {
        font-size: .875rem;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: $semi-bold;
        margin-top: 7px;
        @include desktop-screen {
            font-size: 1.5rem;
        }
    }
}