@import '../styles/font';
@import '../styles/colors';

.payment {
    padding: 16px;

    h6 {
        font-size: .75rem;
        font-weight: $medium;
        color: $greyColor
    }
    
    span {
        font-size: .875rem;
    }

    h4 {
        font-size: 1.125rem;
        font-weight: $semi-bold;
        margin-top: 7px;
    }
}