@import './font';
@import './colors';

.paymentSuccess {
    height: 80vh;
    padding: 16px;
    .successArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 76vh;
        width: 75%;
        margin: auto;
        text-align: center;
        h4 {
            margin-bottom: 1rem;
            font-weight: $semi-bold;
        }
        h6 {
            font-size: .875rem;
            font-weight: $regular;
            line-height: 1.375rem;
            color: $greyColor;
        }
    }
}